<div class="wlt-c-furg-content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <h1 class="mb-1">{{isEdit ? 'Edit' : 'Add'}} Category</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 my-1">
                <ol class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Finance</a></li>
                    <li class="breadcrumb-item"><a routerLink="/inventory/category-master">Category Master List</a></li>
                    <li class="breadcrumb-item active">{{isEdit ? 'Update' : 'New'}} Category</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<mat-card>
    <mat-card-content>
        <form [formGroup]="frm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Trade Type</mat-label>
                        <mat-select formControlName="AssetType">
                            <mat-option value="Fixed Asset">
                               Fixed Asset
                            </mat-option>
                            <mat-option value="Liquid Assets">
                               Liquid Assets
                            </mat-option>
                            <mat-option value="Current Liabilities">
                               Current Liabilities
                            </mat-option>
                          <mat-option value="Long Term Liabilities">
                               Long Term Liabilities
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Category Type</mat-label>
                        <mat-select formControlName="Cat">
                            <mat-option value="P">
                                Purchase
                            </mat-option>
                            <mat-option value="U">
                                Expenses
                            </mat-option>
                            <mat-option value="C">
                                Creditor
                            </mat-option>
                          <mat-option value="D">
                                Debtor
                            </mat-option>
                          <mat-option value="I">
                                Investor
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Category Name</mat-label>
                        <input type="text" formControlName="Name" matInput placeholder="" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <button class="btn wlt-c-furg-btn-gray mr-3" (click)="onCancelClick()" mat-dialog-close> Cancel</button>
                        <button *ngIf="this.userAccessModel.createAccess == true || this.userAccessModel.updateAccess == true || currentUser == 'superadmin'"
                        class="btn wlt-c-furg-btn-primary">  {{isEdit ? 'Update' : 'Save'}}</button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<!-- model pop up for logic started -->
<div [style.display]="showLoadingSpinner ? 'block' : 'none'"
  style="margin-top: -20.5rem; display: block; margin-left: -6.5rem;">
  <div class="d-flex justify-content-center">
    <span class="loader"></span>
  </div>
</div>
<!-- model pop up for logic ended -->
