<!-- <footer class="wlt-c-furg-footer ml-sm-auto">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="d-block mt-1 mt-sm-0 text-center text-md-left">Copyright © 2023 <a href="#">Furg.</a> All rights reserved.
            </div>
        </div>
     
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="d-block mt-1 mt-sm-0 text-center text-md-right">Designed By <a href="http://widelast.com/" target="_blank">Widelast Technolgy Pvt Ltd.</a></div>
        </div>
    </div>
</footer> -->