<div class="wlt-c-furg-content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <h1 class="md-1">{{bankListTitle == 'new'?'New Bank List': 'Edit Bank List'}}</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 my-1">
                <ol class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Administration</a></li>
                    <li class="breadcrumb-item"><a routerLink="/administration/bank-list">Bank List</a></li>
                    <li class="breadcrumb-item active">{{bankListTitle == 'new'?'New Bank List': 'Edit Bank List'}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<mat-card>
    <mat-card-content>
        <form [formGroup]="bankListForm">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-2">                   
                    <mat-form-field appearance="outline">
                        <mat-label>Bank Code</mat-label>
                        <input matInput placeholder="Enter Bank Code" maxlength="5" formControlName="BankCode">
                      </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Bank Name</mat-label>
                        <input matInput placeholder="Enter Bank Name" formControlName="BankName">
                      </mat-form-field>
                </div>
            </div>
           
            <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <button class="btn wlt-c-furg-btn-gray mr-3" mat-dialog-close
                            (click)="clearBankListDetails()"> Cancel</button>
                        <button *ngIf="(this.userAccessModel.updateAccess == true || this.userAccessModel.createAccess == true || currentUser == 'superadmin')"
                        class="btn wlt-c-furg-btn-primary" [disabled]="bankListForm.invalid" (click)="savebuttonClick()"> {{bankListForm.get('ID')?.value == 0 ? 'Save' : 'Update' }}</button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<!-- model pop up for logic started -->
<div [style.display]="showLoadingSpinner ? 'block' : 'none'"
    style="margin-top: -10.5rem; display: block; margin-left: -6.5rem;">
    <div class="d-flex justify-content-center">
        <span class="loader"></span>
    </div>
</div>
<!-- model pop up for logic ended -->