<div class="wlt-c-furg-content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <h1 class="mb-1">Shift Timings</h1>
        </div><!-- /.col -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-1">
          <ol class="breadcrumb float-md-right">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Master</a></li>
            <li class="breadcrumb-item active">Shift Timings</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<mat-card>
    <mat-card-content>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 order-2 order-md-1">
                <div class="text-right">
                    <mat-form-field appearance="outline">
                        <mat-label>Search</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                      </mat-form-field>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 order-1 order-md-2">
                <div class="text-right pt-2">
                    <button class="btn wlt-c-furg-btn-primary" [routerLink]="['/master/shift-timings/new-shift-timing']"><mat-icon>add</mat-icon><span>New</span></button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="wlt-table table-striped" matSort (matSortChange)="announceSortChange($event)">
            <ng-container matColumnDef="s_no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
              <td mat-cell *matCellDef="let element" class="text-left"> {{element.s_no}} </td>
            </ng-container>
            
            <ng-container matColumnDef="shift_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Shift Name </th>
              <td mat-cell *matCellDef="let element" class="text-left"> {{element.shift_name}} </td>
            </ng-container>
            <ng-container matColumnDef="start_time">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Starting Time </th>
              <td mat-cell *matCellDef="let element" class="text-left"> {{element.start_time}} </td>
            </ng-container>
            <ng-container matColumnDef="end_time">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> End Time </th>
              <td mat-cell *matCellDef="let element" class="text-left"> {{element.end_time}} </td>
            </ng-container>
             
              <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef style="text-align:center; width: 120px;">
                    Action
                </th>
                <td mat-cell *matCellDef="let row" style="text-align:center;">
                    <a style="cursor:pointer;" class="wlt-c-furg-text-primary mr-2" matTooltip="Edit"><mat-icon aria-hidden="false" aria-label="edit icon">edit</mat-icon></a>
                    <!-- <a style="cursor:pointer;" class="wlt-c-furg-text-success mr-2" matTooltip="View"><mat-icon aria-hidden="false" aria-label="view icon">visibility</mat-icon></a> -->
                    <a style="cursor:pointer;" class="wlt-c-furg-text-danger" matTooltip="Delete"><mat-icon aria-hidden="false" aria-label="trash icon">delete_outline</mat-icon></a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
            
        <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                         showFirstLastButtons 
                         aria-label="Select page of periodic elements">
        </mat-paginator>

        
    </mat-card-content>
</mat-card>