.warning-panel {
    background-color: yellow; /* Light yellow background for warning */
    color:black; /* Dark yellow text for visibility */
    border: 1px solid #ffeeba;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .action-button {
    background-color: #007bff; /* Button color */
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }
  