<div class="container-fluid wlt-c-furg-login-page d-flex justify-content-center flex-column align-item-center">
  <div class="row">
    <div class="d-none d-md-block col-sm-6 col-md-6 col-lg-7 p-0">
      <div class="wlt-c-furg-login-left">
        <div class="wlt-c-furg-loginbox d-flex justify-content-center flex-column align-item-center">
          <div class="px-5 pt-3 pb-5">
            <div class="wlt-c-furg-logo text-left">
              <!-- UAT server logo -->
              <!-- <img src="assets/img/logo-sample.png" alt="" /> -->
              <!-- fwg server logo -->
              <img src="assets/img/logo-white.png" alt="" />
            </div>
            <div class="wlt-c-furg-login">
              <h1>Online Branch<br /> Management System</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-5 p-0">
      <div class="wlt-c-furg-login-right">
        <div class="wlt-c-furg-login-form">
          <div class="wlt-c-furg-welcome text-center">
            <h3>Welcome Back!</h3>
            <p>Please sign in to your Account</p>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="validateUser()">
            <div *ngIf="showPasswordExpiryWarning == true" class="warning-panel" style="height: 100px; width: 100%;">
              <span>{{ warningMsg }}</span>
              <button class="action-button" (click)="onYesClick()">Yes</button>
              <button class="action-button" (click)="onNoClick()">No</button>
            </div>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input type="text" formControlName="userName" matInput placeholder="">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" formControlName="password" matInput placeholder="">
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <button mat-button class="btn btn-block wlt-c-furg-btn-primary mb-3"
              [disabled]="loginForm.invalid">Login</button>
            <div *ngIf="userName == 'admin' || userName == 'superadmin'" class="text-center pt-4 text-muted">Don't have
              account?<a id="forget" routerLink="/register">Sign
                Up</a></div>
            <div *ngIf="warningMessage !==''">
              <mat-label style="color:red">{{warningMessage}}</mat-label>
            </div>
            <div *ngIf="errorMessage !==''">
              <mat-label style="color:red">{{errorMessage}}</mat-label>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- model pop up for logic started -->

    <div [style.display]="showLoadingSpinner ? 'block' : 'none'"
      style="margin-top: -20.5rem; display: block; margin-left: 55.5rem;">
      <div class="d-flex justify-content-center">
        <span class="loader"></span>
      </div>
    </div>
    <!-- model pop up for logic ended -->

  </div>
</div>