<div class="wlt-c-furg-content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <h1 class="md-1">{{employeeAdvanceTitleStatus == 'new'?'New Employee Monthly Advance': 'Edit Employee
                    Monthly Advance'}}</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 my-1">
                <ol class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Payroll</a></li>
                    <li class="breadcrumb-item"><a routerLink="/payroll/employee-monthly-advance">Employee Monthly
                            Advance List</a></li>
                    <li class="breadcrumb-item active">{{employeeAdvanceTitleStatus == 'new'?'New Employee Monthly
                        Advance': 'Edit Employee Monthly Advance'}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<mat-card>
    <mat-card-content>
        <form [formGroup]="employeeAdvanceForm">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Advance Date</mat-label>
                        <div style="display: flex; align-items: center;">
                            <input matInput [matDatepicker]="picker" formControlName="AdvanceDate"
                                (dateChange)="changeAdvanceDate('change', $event)">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        </div>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Branch Code</mat-label>
                        <mat-select formControlName="BranchCode"
                            (keydown)="onKeyDropdown($event, 'branchSearchString', 'branchModel', 'filteredBranchList', 'Code', branchSearchSubject)"
                            (selectionChange)="onBranchSelectionChange($event)" [panelClass]="'custom-dropdown-panel'">
                            <mat-option [value]="" class="highlight-option"></mat-option>
                            <mat-option *ngFor="let branch of branchModel" [value]="branch.Code">
                                {{ branch.Code }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Client</mat-label>
                        <mat-select formControlName="Client"
                            (keydown)="onKeyDropdown($event, 'clientSearchString', 'clientList', 'filteredClientList', 'Name', clientSearchSubject)"
                            (selectionChange)="onClientChange($event.value)" [panelClass]="'custom-dropdown-panel'">
                            <mat-option [value]="0" class="highlight-option"></mat-option>
                            <mat-option *ngFor="let d of clientList" value="{{d.Code}}">{{d.Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4" *ngIf="errorMessage !==''">
                    <mat-label style="color:red">{{errorMessage}}</mat-label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-8">
                        <mat-label class="mr-3"><strong>Type</strong></mat-label>
                        <br />
                        <mat-radio-group aria-label="Select a Type" formControlName="EmployeeType"
                            (change)="radioButtonTypeSelectionChange($event)"
                            class="d-flex flex-wrap align-items-center">
                            <mat-radio-button value="Guard" class="mr-3 mb-2">Guard</mat-radio-button>
                            <mat-radio-button value="Staff" class="mr-3 mb-2"
                                [disabled]="!staffAdminAccessModel.readAccess">Staff</mat-radio-button>
                            <mat-radio-button value="None" class="mr-3 mb-2">None</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-8">
                        <mat-label class="mr-3"><strong>Race</strong></mat-label>
                        <br />
                        <mat-radio-group aria-label="Select a Race" formControlName="Race"
                            (change)="radioButtonRaceSelectionChange($event)">
                            <mat-radio-button value="Chinese">Chinese</mat-radio-button>
                            <mat-radio-button value="Indian">Indian</mat-radio-button>
                            <mat-radio-button value="Malay">Malay</mat-radio-button>
                            <mat-radio-button value="Others">Others</mat-radio-button>
                            <mat-radio-button value="All">All</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Amount </mat-label>
                            <input type="text" formControlName="Amount" matInput placeholder="" autocomplete="off"
                                pattern="^\d+(\.\d{1,2})?$">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-1" class="set-button">
                        <button class="btn wlt-c-furg-btn-primary" (click)="setButtonClick()"> Set</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-6" class="set-button-error">
                        <mat-error *ngIf="employeeAdvanceForm.controls['Amount'].hasError('pattern')">
                            Only numbers with up to two decimal places are allowed.
                        </mat-error>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3" hidden>
                        <mat-form-field appearance="outline">
                            <mat-label>Particulars</mat-label>
                            <input type="text" formControlName="Particulars" matInput placeholder="" autocomplete="off">
                        </mat-form-field>
                    </div>

                </div>
            </div>
            <br />
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <form [formGroup]="dynamicForm">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Employee Name</th>
                                        <th>IC No</th>
                                        <th>Bank</th>
                                        <th>Account No</th>
                                        <th>Amount</th>
                                        <th>Payment Type</th>
                                        <th>Particulars</th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="formArray">
                                    <tr *ngFor="let control of formArray; let i = index" [formGroupName]="i"
                                        [ngClass]="{'row-alternate': i % 2 !== 0}">
                                        <td class="custom-row">
                                            <mat-form-field appearance="outline" class="small-padding">
                                                <input matInput formControlName="EMP_NAME" readonly="true">
                                            </mat-form-field>
                                        </td>
                                        <td class="custom-row">
                                            <mat-form-field appearance="outline" class="small-padding">
                                                <input matInput formControlName="EMP_IC_NEW" readonly="true">
                                            </mat-form-field>
                                        </td>
                                        <td class="custom-row">
                                            <mat-form-field appearance="outline" class="small-padding">
                                                <input matInput formControlName="EMPFL_BANK" readonly="true">
                                            </mat-form-field>
                                        </td>
                                        <td class="custom-row">
                                            <mat-form-field appearance="outline" class="small-padding">
                                                <input matInput formControlName="EMPFL_BK_ACCNO" readonly="true">
                                            </mat-form-field>
                                        </td>
                                        <td class="custom-row">
                                            <mat-form-field appearance="outline" class="small-padding">
                                                <input matInput formControlName="Amount">
                                            </mat-form-field>
                                        </td>
                                        <td class="custom-row">
                                            <mat-form-field appearance="outline" class="small-padding">
                                                <input matInput formControlName="PAYMODE" readonly="true">
                                            </mat-form-field>
                                        </td>
                                        <td class="custom-row">
                                            <mat-form-field appearance="outline" class="small-padding">
                                                <input matInput formControlName="Particulars">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" colspan="7">
                                            <div class="row">
                                                <div class="col-12 text-right">
                                                    <div class="text-right">
                                                        <button class="btn wlt-c-furg-btn-gray mr-3" mat-dialog-close
                                                            (click)="clearEmployeeAdvanceDetails()"> Cancel</button>
                                                        <!-- <button
                                                            *ngIf="(this.userAccessModel.updateAccess == true || this.userAccessModel.createAccess == true || currentUser == 'superadmin')"
                                                            class="btn wlt-c-furg-btn-primary"
                                                            (click)="savebuttonClick()">
                                                            {{isEmployeeIdValid() === false ? 'Save' :
                                                            'Update' }}</button> -->
                                                        <button *ngIf="canSaveEmployee()"
                                                            class="btn wlt-c-furg-btn-primary"
                                                            (click)="savebuttonClick()">

                                                            {{isEmployeeIdValid() === false ? 'Save' : 'Update'}}

                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>

        </form>
    </mat-card-content>
</mat-card>

<!-- model pop up for logic started -->
<div [style.display]="showLoadingSpinner ? 'block' : 'none'"
    style="margin-top: -10.5rem; display: block; margin-left: -6.5rem;">
    <div class="d-flex justify-content-center">
        <span class="loader"></span>
    </div>
</div>
<!-- model pop up for logic ended -->